.lists {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 10px;
  margin-block-start: 15px;
  cursor: pointer;
}

.listsItem {
  color: rgba(14, 14, 14, 0.16);
  font-size: 24px;
}

.listItemActive {
  color: #5393ff;
  border-bottom: 3px solid #5393ff;
}